.chart-controls {
  display        : flex;
  justify-content: space-between;
}

.time-buttons {

  p {
    margin: 10px 5px 5px;
  }

  button {
    @include custom-transition($time-button-trans, $time-button-trans-func, $time-button-trans-delay);
    &:hover {
      background: #555;
      cursor    : pointer;
    }
    width     : 50px;
    height    : 25px;
    margin    : 5px;
    border    : none;
    background: #333;
    color     : #aaa;
  }
  margin-left: 50px
}

.date-range {

  input {
    width     : 100px;
    height    : 20px;
    margin    : -10px 10px 0;
    border    : 1px solid #555;
    background: #333;
    color     : #aaa;
  }
  margin-right: 50px
}
