/********* Fonts **********/

@font-face {
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

/****** Main Styling ******/

body {
	margin: 0;
	padding: 0;
  background: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
