.stock-cards {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: flex-start;
  height         : auto;
  border         : 1px solid green;
}

.info-card {
  @include custom-transition($info-card-trans, $info-card-trans-func, $info-card-trans-delay);
  &:hover {
    border-color     : darken(pink, 25);
  }
  width           : 225px;
  height          : 100px;
  margin          : 15px;
  border          : 1px solid grey;
  border-left     : 5px solid grey;
  background-color: white;
}

.dismiss-card {
  @include custom-transition($dismiss-button-trans, $dismiss-button-trans-func, $dismiss-button-trans-delay);
  float: right;
  background: none;
  border: none;
  color: grey;
  font-size: 20px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;

  &:hover {
    color: black;
  }
}

.search-card {
  @extend .info-card;

  &:hover {
    border-color     : green;
    border-left-color: green;
  }

  form {
    margin-top  : 5px;
    padding-left: 5px;
  }

  label {
    margin-bottom: 10px;
    color        : black;
    font-variant : small-caps;
    font-weight  : bold;
  }

  input {
    width        : 150px;
    margin-top   : 15px;
    margin-left  : 10px;
    padding      : 5px;
    border       : 1px solid lightgrey;
    border-radius: 4px;
    text-align   : center;
  }

  button {
    margin-left     : 5px;
    padding         : 5px;
    border          : none;
    border-radius   : 4px;
    background-color: limegreen;
    color           : white;
  }
  // border-color     : green;
  // border-left-color: green;
}
